body {
  font-family: sans-serif;
  background-image: url("../public/background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2, h1{
  color: white;
}
